@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  background-image: url(./images/bg-stars.svg);

  font-family: 'Red Hat Text', sans-serif;

  background-color: hsl(234, 17%, 12%);
}

footer{
  width: 100%;
  height: 180px;

  position: absolute;

  bottom: 0;
  background-image: url(./images/pattern-hills.svg);
}


ul{
  list-style: none;

  width: 200px;

  display: flex;
  justify-content: space-around;

  padding: 0;

  margin: 100px auto 0 auto;
}

li{
  cursor: pointer;
}

li:hover path{
  fill: hsl(345, 95%, 68%);
}